.cg-piece.wp {
  background-image: url("/img/chesspieces/wikipedia/wp.png")
}
.cg-piece.bp {
  background-image: url("/img/chesspieces/wikipedia/bp.png");
}
.cg-piece.wk {
  background-image: url("/img/chesspieces/wikipedia/wk.png");
}
.cg-piece.bk {
  background-image: url("/img/chesspieces/wikipedia/bk.png");
}
.cg-piece.wq {
  background-image: url("/img/chesspieces/wikipedia/wq.png");
}
.cg-piece.bq {
  background-image: url("/img/chesspieces/wikipedia/bq.png");
}
.cg-piece.wr {
  background-image: url("/img/chesspieces/wikipedia/wr.png");
}
.cg-piece.br {
  background-image: url("/img/chesspieces/wikipedia/br.png");
}
.cg-piece.wn {
  background-image: url("/img/chesspieces/wikipedia/wn.png");
}
.cg-piece.bn {
  background-image: url("/img/chesspieces/wikipedia/bn.png");
}
.cg-piece.wb {
  background-image: url("/img/chesspieces/wikipedia/wb.png");
}
.cg-piece.bb {
  background-image: url("/img/chesspieces/wikipedia/bb.png");
}
#chessboard {
  width: 400px;
  height: 400px;
}
