#chessboard {
  width: 400px;
  max-width: 90%;
  aspect-ratio: 1 / 1;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
/*responsividad tablero*/
#chessboard {
  aspect-ratio: 1 / 1;
}
