/* ===============================
   Estilos base para index.html
   =============================== */

body {
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: #0b0f2b;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: #1d223e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.title-logo {
  display: flex;
  align-items: center;
}

.site-title {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  margin-right: 12px;
}

.logo {
  height: 50px;
  width: auto;
}

/* NAV */
nav {
  position: relative;
}

.hamburger {
  font-size: 28px;
  cursor: pointer;
  color: white;
}

.menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  padding: 15px;
  border: 1px solid #ccc;
  top: 40px;
  z-index: 1000;
}

nav:hover .menu {
  display: block;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #0b0f2b;
  font-weight: bold;
}

/* SECCIONES PRINCIPALES */
section {
  max-width: 900px;
  background-color: #16325c;
  color: white;
  padding: 30px;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#about, #courses, #contact {
  background-color: white;
  color: #333;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

/* BOTÓN */
.button {
  background-color: #87a6c5;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin: 10px auto;
}
/*estilos hover para botones */
.button:hover {
  background-color: #83bcf2;
  font-size: 1.05em;
  transition: all 0.2s ease-in-out;
}
/* Íconos en contacto whatsapp y el instagram */
#contact i {
  font-size: 24px;
  margin-right: 8px;
  color: #0db62c;
  transition: transform 0.2s ease;
  vertical-align: middle;
}

#contact i:hover {
  transform: scale(1.2);
  color: rgb(38, 221, 38);
}

/* Enlaces de contacto */
#contact a {
  color: rgb(78, 36, 195);
  text-decoration: none;
  font-weight: bold;
}

#contact a:hover {
  color: #19873a;
  font-size: 1.05em;
}

/*estilos de los logos what e instagram */
#contact img {
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
  filter: drop-shadow(0 0 2px rgba(255,255,255,0.3));
}

#contact a:hover {
  color: #31e482;
  font-size: 1.05em;
  transition: all 0.2s ease-in-out;
}
/*boton formulario*/
#formRegistro button:hover {
  font-size: 20px;
  color: rgb(218, 218, 218);
  background-color: rgb(33, 33, 84);
  width: 500px;
}
/*hover a los imputs del formulario*/
#formRegistro input:hover {
  font-size: 18px;
  
  
}


/* FOOTER */
footer {
  background-color: #1d223e;
  color: rgb(208, 238, 32);
  text-align: center;
  padding: 10px;
}
